body{

margin:0;

font-family:
Segoe UI;

background:

linear-gradient(
135deg,
#10142a,
#1f2957
);

color:white;

text-align:center;

}

.container{

display:flex;

justify-content:center;

gap:30px;

margin-top:20px;

}

.cameraBox{

background:#222;

padding:20px;

border-radius:20px;

}

video{

width:400px;

border-radius:20px;

}

canvas{

background:white;

border-radius:20px;

}

button{

padding:12px 20px;

background:#5b5cff;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

}

input{

height:40px;

}