body{

margin:0;

font-family:
Segoe UI;

background:

linear-gradient(
135deg,
#c9d6ff,
#e2e2e2
);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:30px;

border-radius:25px;

box-shadow:

0 10px 30px
rgba(0,0,0,0.1);

text-align:center;

width:700px;

}

h1{

color:#4f46e5;

}

.controls{

display:flex;

justify-content:center;

gap:15px;

margin:20px;

}

button{

padding:12px 20px;

border:none;

border-radius:12px;

background:
#4f46e5;

color:white;

cursor:pointer;

font-weight:bold;

}

button:hover{

transform:
scale(1.05);

}

.canvasBox{

display:flex;

justify-content:center;

}

canvas{

border:
3px solid #ddd;

border-radius:15px;

background:white;

}

.info{

margin-top:15px;

font-weight:bold;

color:#666;

}